<html>
<head>
    <title>Ledger</title>
</head>
<body bgcolor="#ddfdff">
{% load humanize %}
<center><h1>Ledger</h1>
<br>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>
<table bgcolor="white" style="width:80%; text-align:center;">
    <th >Date</th>
    <th>Note</th>
    <th>Income</th>
    <th>Expense</th>
    <th>Total</th>
{% if lists %}
{% for note in lists %}
<tr>
    <td>{{note.pub_date}}</td>
    <td>{{note.note_text}}</td>
    
    {% if note.cost_value < 0 %}
    <td> - </td>
    <td bgcolor="#ff9ba3">{{note.cost_value|intcomma}} Bahts</td>
    {% else %}
    <td bgcolor="#93ffbc">{{note.cost_value|intcomma}} Bahts</td>
    <td> - </td>
    {% endif %}
    
    <td>{{note.cost_total|intcomma}} Bahts</td>
</tr>

{% endfor %}
<tr>
    <td colspan="2">รวม</td>
    <td>{{income_index|intcomma}} Bahts</td>
    <td>{{expense_index|intcomma}} Bahts</td>
    <td>{{total_index|intcomma}} Bahts</td>
</tr>
{% else %}
<tr>
    <td colspan="5"><b>NOTHING TO SEE , ADD NOTE !!</b></td>
   
</tr>

{% endif %}
</table>
</center>
<br>

<b>Add note</b>
<br><br>

<form action="{% url 'ledger:add_list' %}" method="post">
{% csrf_token %}
Note : <input type="text" name="add_note" required/> Money : <input type="number" name="add_money" required/><br><br>
Date :<input type="date" name="date"> Time :<input type="time" name="time"><input type="checkbox" name="localtime" value="tz">Use timezone<br><br>
<input type="radio" name="money_type" value="in" required/>Income
<input type="radio" name="money_type" value="ex" required/>Expense<br><br>
<input type="submit" value="Submit" />
</form>

<b>Edit</b><br>
<a href="{% url 'ledger:edit_list' %}">Click</a>
</body>
</html>
